<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% seo %}
  <link rel="stylesheet" href="/zyntra-seo/assets/css/style.css">
</head>

<body>

  <!-- Banner -->
  <div class="hero-banner">
    <div class="hero-title">ZyntraBOT</div>
  </div>

  <!-- Content -->
  <div class="page-container">
    {{ content }}

    <div style="margin-top:40px; text-align:center;">
      <a class="btn-zyntra" href="https://discord.com/oauth2/authorize?client_id=1431665424331702502&scope=bot+applications.commands&permissions=8">
        ➜ ZyntraBOT'u Sunucuna Ekle
      </a>
    </div>
  </div>

  <footer style="margin-top:50px; text-align:center; opacity:.5;">
    <p>ZyntraBOT © 2025 | <a href="https://zyntrabot.xyz">Website</a> | <a href="https://discord.gg/mvkywr753k">Discord</a></p>
  </footer>

</body>
</html>
